.pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin: 20px 0px;
}


.pagination .prev{
    font-size: 20px;
    font-weight: 400;
}

.pagination .next{
    font-size: 20px;
    font-weight: 400;
}

.pagination .pages{
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    cursor: pointer;
}

.pagination .pages > p{
    margin: 0px 5px;
    font-size: 20px;
    font-weight: 700;
    padding:0px 5px;
}

.boxed-page{
    border:1px solid black;
}


@media only screen and (max-width: 768px) {
    .pagination{
        margin: 10px 0;
        margin-top: 5px;
    }
} 
