.submit-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 20px 10px;
    background: rgb(236 236 236);
    border-radius: 5px;
    cursor: pointer;
}

.submit-div:hover{
    background: #ccc5c5;
}

.submit-div .icon{
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    background: rgb(236 236 236);
    border: 1px solid #adadad;
    border-radius: 5px;
    margin: 10px;
}

.submit-div .icon svg{
    width: 30px;
    height: 30px;
}

.submit-div .link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(10, 10, 10);
}

.submit-div .link p{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0px;
    margin: 20px 10px;
}


@media only screen and (max-width: 768px) {
    .submit-div {
        width: 100%;
        display:flex;
        flex-direction: column;
    }
} 
